* {
  margin: 0;
  padding: 0;
}

input[type="email"] {
  background-color: whitesmoke;
  padding: 13px;
  width: 400px;
  border: 2px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  margin-right: 10px;
}
input::placeholder {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: gray;
}
img,
video {
  height: 100%;
  width: 100%;
}
li {
  list-style-type: none;
}

/* section 1 */
.c-box-1 {
  margin: 4% auto 0;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 90%;
  height: 85vh;
  background-image: url(../images/sbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-box-1-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(39, 52, 119);
}
.c-box-1-part h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  line-height: 92px;
  margin-bottom: 28px;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 5px 3px);
}
.c-box-1-part h2 {
  text-align: center;
  font-size: 2.5em;
  margin-top: -0.5em;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 5px 3px);
  text-transform: uppercase;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}
.c-box-1-part h3 {
  margin-top: 2em;
  font-family: "Acme", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  line-height: 77px;
  font-size: 2.5em;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 5px 3px);
}
.c-box-1-part button,
.c-box-4 button {
  background: whitesmoke;
  -webkit-box-shadow: 0.5em 0.5em 3px rgb(2 27 38 / 50%);
  box-shadow: 0.5em 0.5em 3px rgb(2 27 38 / 50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px outset whitesmoke;
  cursor: pointer;
  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  padding: 12px 20px;
}
.c-box-1-part button:hover,
.c-box-4 button:hover {
  -webkit-transform: translate3d(0.25em, 0.25em, 10em);
  transform: translate3d(0.25em, 0.25em, 10em);
  -webkit-box-shadow: 0 0 0 rgb(2 27 38 / 50%);
  box-shadow: 0 0 0 rgb(2 27 38 / 50%);
  background: white;
}
.c-box-1-part form {
  margin-top: 5em;
}

/* section 2 */
.c-box-2 {
  margin: 8em 8%;
  background-image: url(./course-img/banner.png);
  background-repeat: no-repeat;
}
.c-box-2 h1 {
  text-transform: capitalize;
  font-family: "Josefin Sans";
  letter-spacing: 0.05rem;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 5px 3px);
  text-align: center;
}
.c-box-2-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.c-box-2-part li {
  margin-top: 15px;
  font-size: 1.8em;
  font-family: "Source Code Pro", monospace;
}
.c-box-2-part li:before {
  content: "⚡️";
  position: relative;
  margin-right: 5px;
}
.c-box-2-part video {
  width: 300px;
}

/* section 3 */
.c-box-3 {
  margin: 0 11%;
  background-color: rgb(46, 26, 78);
  border: 6px double white;
  box-shadow: rgb(46, 26, 78) 0px 0px 0px 3px,
    rgba(0, 0, 0, 0.5) 1em 1em 3px 0px;
  padding: 1em;
  color: white;
  border-radius: 30px;
}
.c-box-3 h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Josefin Sans";
  margin: 32px auto;
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 5px 3px);
  color: rgb(255, 255, 255);
}
.c-box-3 ul {
  margin: 0 3.5em;
}
.c-box-3 li {
  text-transform: capitalize;
  font-family: "Source Code Pro", monospace;
  font-size: 1.8em;
  line-height: 2em;
}
.c-box-3 li:before {
  content: "👉";
  position: relative;
  margin-right: 20px;
}

/* section 4 */
.c-box-4 {
  margin: 8em 0;
  text-align: center;
}
.c-box-4 h1 {
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 3em;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 5px 3px);
  color: rgb(39, 52, 119);
}
.c-box-4 h3 {
  color: rgb(39, 52, 119);
  font-family: "Josefin Sans";
  text-align: center;
  font-size: 2em;
  line-height: 3em;
}
.c-box-4 img {
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: row;
  margin: 2rem auto 4rem;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 20px;
}
.c-box-4 button {
  background-color: black;
  color: white;
  border: 1px outset black;
}
.c-box-4 button:hover {
  background-color: black;
  color: white;
}
.c-box-4 input[type="email"] {
  width: 500px;
}

@media screen and (max-width: 768px) {
  input[type="email"] {
    width: 380px;
    padding: 12px;
  }

  .c-box-1-part h1 {
    font-size: 2.9em;
  }
  .c-box-1-part h2 {
    font-size: 2.2em;
  }
  .c-box-1-part button,
  .c-box-4 button {
    font-size: 15px;
    padding: 10px 15px;
  }
  .c-box-1-part h3 {
    font-size: 2.1em;
  }

  .c-box-2 {
    margin: 8em 3%;
  }
  .c-box-2 h1 {
    font-size: 2.3em;
  }
  .c-box-2-part {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c-box-2-part li {
    font-size: 1.5em;
  }

  .c-box-3 {
    margin: 0 5%;
  }
  .c-box-3 h1 {
    font-size: 2.85em;
  }
  .c-box-3 ul {
    margin: 0 0;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  .c-box-3 li {
    font-size: 1.4em;
  }

  .c-box-4 h1 {
    font-size: 2.7em;
    padding: 0 0.5em;
  }
  .c-box-4 h3 {
    font-size: 1.8em;
    margin: -0.5em 0 0.5em !important;
  }
  .c-box-4 img {
    width: 80%;
    height: 80%;
  }
  .c-box-4 input[type="email"] {
    width: 400px;
  }
}
@media screen and (max-width: 425px) {
  input[type="email"] {
    width: 280px;
    padding: 6px;
  }

  .c-box-1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .c-box-1-part form {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .c-box-1 {
    height: 75vh;
    margin: 11% auto 0;
    padding: 0 0.5em;
  }
  .c-box-1-part h1 {
    margin-bottom: 0;
    margin: 10px 0 0 !important;
    font-size: 1.55em;
  }
  .c-box-1-part h2 {
    font-size: 1.45em;
  }
  .c-box-1-part button,
  .c-box-4 button {
    font-size: 12px;
    padding: 4px 8.5px;
    margin: 1em auto 0;
  }
  .c-box-1-part h3 {
    margin-top: 1.6em;
    font-size: 1.4em;
    line-height: 40px;
  }
  input::placeholder {
    font-size: 15px;
  }

  .c-box-2 h1 {
    font-size: 2em;
  }
  .c-box-2-part ul {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .c-box-2-part li {
    font-size: 1.2em;
  }

  .c-box-3 h1 {
    font-size: 2.2em;
  }
  .c-box-3 ul {
    padding-left: 0em !important;
    padding-right: 0em !important;
  }
  .c-box-3 li {
    font-size: 1.1em;
  }

  .c-box-4 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c-box-4 h1 {
    font-size: 1.87em;
  }
  .c-box-4 h3 {
    font-size: 1.38em;
  }
  .c-box-4 input[type="email"] {
    width: 315px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .c-box-1-part h1 {
    font-size: 1.45em;
  }
  .c-box-1-part h2 {
    font-size: 1.35em;
  }
  .c-box-1-part button,
  .c-box-4 button {
    font-size: 11px;
  }
  .c-box-1-part h3 {
    font-size: 1.3em;
  }

  .c-box-2 h1 {
    font-size: 1.8em;
  }
  .c-box-2-part li {
    font-size: 1em;
  }
  .c-box-2-part video {
    width: 250px;
  }

  .c-box-3 h1 {
    font-size: 2em;
  }
  .c-box-3 li {
    font-size: 1em;
  }

  .c-box-4 h1 {
    font-size: 1.65em;
  }
  .c-box-4 h3 {
    font-size: 1.29em;
  }
  .c-box-4 input[type="email"] {
    width: 300px;
  }
}
