@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
}
/* 
section {
  background: #9a96e8;
  background: #ffbf5c;
  background: #21aae3;
  background: #ff7271;
  background: #656565;
} */

/* global */
a {
  text-decoration: none;
  color: initial;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -8px;
  margin-right: -8px; */
  justify-content: center;
}
.cards__item {
  /* There will be 4 cards per row */
  flex-basis: 20%;
  margin: 20px;
}
img {
  height: 100%;
  width: 100%;
}

/* First section */
.box-1 {
  position: relative;
  padding-top: 50px;
  background: rgba(154, 150, 232, 0.4);
}
.box-1-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-1-heading {
  text-transform: uppercase;
  font-size: 82px;
  font-family: "Josefin Sans";
  /* letter-spacing: 5px; */
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
  filter: drop-shadow(rgba(255, 255, 255, 0.4) 0px 5px 3px);
}
.box-1-p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-1-p img {
  position: relative;
  top: -35px;
  width: 250px;
  filter: drop-shadow(rgba(255, 255, 255, 0.7) 0px 5px 3px);
}
.box-1-para {
  font-family: "Josefin Sans";
  font-size: 28px;
  padding-left: 50px;
  line-height: 34px;
  text-transform: capitalize;
  margin-top: -15px;
  color: white;
}

/*  */
.box-2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  width: 90%;
  background-color: transparent;
  border-radius: 10px;
  margin: -100px auto 0;
  padding: 20px 0;
  /* background-color: white; */
  z-index: 2;
  /* background-image: url(../images/bg__with-dotted.svg);
  background-repeat: repeat;
  background-position: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}
.box-2-part .img-cont {
  background: White;
  border-radius: 50%;
  padding: 20px;
  border-top: 4px solid #ffbf5c;
}
.box-2-part img {
  width: 130px;
}
.box-2-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 1.2em;
  padding: 1em;
  z-index: 2;
}
.box-2-part h1 {
  margin-top: 1.5em;
  color: black;
  font-family: "Josefin Sans";
  font-size: 1.8em;
  align-items: center;
}
.box-2-para {
  font-family: "Josefin Sans";
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-transform: capitalize;
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 5px 3px);
}

.box-2-btn:before {
  background-color: rgba(101, 101, 101, 0.2);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  border-radius: 5px;
  right: -4px;
  top: -6px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}
.box-2-btn {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #00132c;
  font-family: "Josefin Sans";
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 2em 0 0;
  padding: 12px 16px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.box-2-btn:hover {
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}
.box-2-btn:hover:before {
  background-color: #c3c3c3;
}

/* second section */
.box-3 {
  display: flex;
  background: rgba(255, 114, 113, 0.22);
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.box-3-heading {
  flex: 1;
  font-family: "Josefin Sans";
  font-size: 3em;
  text-align: center;
  color: black;
  text-transform: capitalize;
  position: relative;
}
.box-3-part {
  margin: 30px 0;
  flex: 2;
}
.box-3-card,
.box-4-card {
  position: relative;
  width: 350px !important;
  padding: 1rem;
  border-radius: 10px;
  background: white;
  box-shadow: 35px 35px 70px #d9d9d9;
  /* box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff; */
}
.box-3-card:hover,
.box-4-card:hover {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 35px 35px 70px #b3b3b3, -35px -35px 70px #ffffff;
  transition: background 1s ease-in;
}
.box-3-card img,
.box-4-card img {
  min-height: 50px;
  border: 1px solid #656565;
  background-color: lightblue;
  border-radius: 5px 5px 0px 0px;
  max-height: 250px;
  object-fit: cover;
}
.box-3-card h2,
.box-4-card h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Josefin Sans";
  padding: 10px 5px;
}
.box-3-card p,
.box-4-card p {
  text-align: justify;
  font-size: 16px;
  color: #4a4a4a;
  display: -webkit-box;
  overflow-y: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
  font-family: "Josefin Sans";
}

/* third section */
.box-4 {
  /* max-width: 1170px; */
  margin: 8rem 4rem;
  padding: 15px 10rem 5rem;
  background-color: #2e1a4e;
  border: 6px double white;
  -webkit-box-shadow: 0 0 0 3px rgba(46, 26, 78), 1em 1em 3px 0 rgb(0 0 0 / 50%);
  box-shadow: 0 0 0 3px rgba(46, 26, 78), 1em 1em 3px 0 rgb(0 0 0 / 50%);
}
.box-4 h1 {
  font-family: "Josefin Sans";
  font-size: 3em;
  text-align: center;
  filter: drop-shadow(rgba(245, 245, 245, 0.6) 0px 5px 3px);
  margin-top: 25px;
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
}
.box-4-part {
  margin: 2rem 0rem 5rem !important;
  max-width: 1000% !important;
  height: 410px !important;
}
.box-4-card {
  margin-left: 1rem !important;
  cursor: pointer !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

/* fourth section */
.box-5 {
  margin: 6rem auto;
  max-width: 1170px;
}
.box-5 h1 {
  font-family: "Josefin Sans";
  font-size: 3em;
  text-align: center;
  color: black;
  padding-bottom: 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 5px 3px);
}
.box-5-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-5-inside img {
  width: 150px;
  height: 150px;
}
/* .sp-img {
  height: 40px;
  width: 40px !important;
} */
.box-5-part {
  margin: 4rem auto;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-5-part-1 {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; */
}
.box-5-part-1 h2 {
  font-family: "Josefin Sans";
  text-align: center;
  font-size: 24px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0 0 0 !important;
  color: #4a4a4a;
}

.option-box {
  /* max-width: 500px; */
  margin: 0 1.5rem 2rem;
  padding: 3rem 0rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border-radius: 20px;
  /* border: 6px double black; */
  /* background-color: rgb(12, 123, 147, 0.2); */
}
.option-box:hover {
  background-color: whitesmoke;
  -webkit-transform: translate3d(-0.25em, -0.25em, -10em);
  transform: translate3d(-0.25em, -0.25em, -10em);
  -webkit-box-shadow: 0.5em 0.5em 3px rgb(0 234 0 / 50%);
  box-shadow: 0.5em 0.5em 3px rgb(0 0 0 / 50%);
}
.aave {
  background-color: rgb(33, 170, 227, 0.4);
}
.wonderland {
  background-color: rgb(101, 101, 101, 0.4);
}
.uniswap {
  background-color: rgb(154, 150, 232, 0.4);
}
.abracadabra {
  background-color: rgb(255, 191, 92, 0.4);
}

.box-6 {
  margin: 7% 4%;
}
.box-6 h1 {
  font-family: "Josefin Sans";
  font-size: 3em;
  text-align: center;
  color: black;
  /* padding-left: 5%; */
  padding-bottom: 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 5px 3px);
}
.box-6-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-6-b h3 {
  text-align: center;
  font-size: 1.4em;
  margin: 1em 0.5em 0.5em !important;
  font-family: "Josefin Sans";
}
.box-6-b {
  align-items: center;
  padding: 0.5em;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  transition: background 1s ease-in;
  margin-right: 2em !important;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  width: min-content !important;
}
.box-6-b iframe {
  /* margin-right: 0 !important;
  margin-top: 2em !important; */
  /* margin: 20px; */
  width: 415px;
  height: 220px;
  /* padding: 0.5em;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  transition: background 1s ease-in; */
  /* box-shadow: 15px 15px 50px #d9d9d9, -15px -15px 30px #ffffff; */
}
.box-6-b:hover {
  position: relative;
  top: -2px;
}
.box-7 {
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-7 h1 {
  text-transform: capitalize;
  font-family: "Josefin Sans";
  font-size: 3em;
  text-align: center;
  color: black;
  padding-bottom: 50px;
  filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 5px 3px);
}
.box-7-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-7-part form {
  position: relative;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0.5em;
  z-index: 2;
}
.box-7-part input[type="email"] {
  box-shadow: none;
  background-color: whitesmoke;
}
.box-7-part form button {
  margin: 1em 1em 0.5em !important;
  font-size: 16px;
  padding: 8px 16px;
}

@media screen and (max-width: 768px) {
  .box-1-part {
    padding-top: 8rem;
  }
  .box-1-heading {
    font-size: 62px;
  }
  .box-1-para {
    font-size: 22px;
  }

  .box-2 {
    width: 85%;
    margin: -6% auto 0;
    padding-bottom: 75px;
  }
  .box-2-para {
    font-size: 1em;
  }
  .box-2-btn {
    padding: 8px 15px;
    font-size: 14px;
  }

  .box-3-heading {
    font-size: 2.5em;
  }
  .box-3-card {
    width: 340px !important;
  }

  .box-4 {
    padding: 15px 5rem 5rem;
  }
  .box-4 h1 {
    font-size: 2.5em;
  }
  .box-4-card {
    width: 280px !important;
  }

  .box-5 h1 {
    font-size: 2.5em;
  }
  .box-5-part {
    margin: 4rem 0 4rem 1.5rem;
  }
  .box-5-part-1 h2 {
    font-size: 18px;
  }

  .box-6-b iframe {
    margin-left: 8.5em;
  }
}
@media screen and (max-width: 425px) {
  .box-1-heading {
    font-size: 32px;
  }
  .box-1-para {
    font-size: 18px;
    margin-top: -5px;
  }

  .box-2 {
    margin: -12% auto 0;
    width: 90%;
  }
  .box-2-part {
    flex-direction: column;
    justify-content: center;
  }
  .box-2-para {
    font-size: 0.85em;
  }
  .box-2-btn {
    padding: 2px 15px;
    font-size: 12px;
    margin-top: 10px;
  }

  .box-3-heading {
    font-size: 2.1em;
  }
  .box-3-card {
    width: 300px !important;
  }

  .box-4 {
    margin: 8rem 2rem;
    padding: 15px 1rem 5rem;
  }
  .box-4 h1 {
    font-size: 1.9em;
  }
  .box-4-card {
    margin-left: 3.2rem !important;
  }

  .box-5 h1 {
    font-size: 2.15em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .box-5-part-1 h2 {
    font-size: 15px;
    padding: 2px;
  }
  .box-5-inside {
    flex-direction: column;
  }
  .box-5-inside img {
    width: 12%;
    margin-right: 0px;
  }
  .box-6-b iframe {
    margin-left: 0em;
  }
}

@media screen and (max-width: 375px) {
  .box-1-heading {
    font-size: 29px;
  }
  .box-1-para {
    font-size: 16px;
  }

  .box-2-para {
    font-size: 0.79em;
  }
  .box-2-btn {
    font-size: 10px;
  }

  .box-3-heading {
    font-size: 1.9em;
  }
  .box-3-card {
    width: 285px !important;
  }

  .box-4 h1 {
    font-size: 1.65 em;
  }
  .box-4-card {
    margin-left: 0.5rem !important;
  }

  .box-5 h1 {
    font-size: 1.9em;
  }
  .box-5-part-1 h2 {
    font-size: 13px;
  }
}
