@font-face {
  font-family: "Glorify";
  src: url(../fonts/Glorifydemo-BW3J3.otf);
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: initial;
}

/*  */

.cp-box {
  margin: 5em 0;
  padding: 0 18%;
  color: black;
}
.cp-box h1 {
  font-family: "Glorify";
  font-size: 5em;
}
.cp-box-1 {
  margin: 3em 0em;
}
.cp-box-1 h2 {
  font-family: "Josefin Sans";
  font-size: 27px;
}
.cp-box-1 p {
  text-align: justify;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
.cp-box-1 a {
  text-decoration: underline !important;
}

/*  */

.p-section {
  margin-bottom: -40px;
  padding: 0 10% 10%;
  /* background-color: rgb(46, 26, 78); */
}
.p-box {
  background-color: rgb(255, 255, 255);
  border: 6px double rgb(46, 26, 78);
  box-shadow: rgb(46, 26, 78) 0px 0px 0px 3px,
    rgba(245, 245, 245, 0.4) 0.5em 0.5em 3px 0px;
  padding: 1em;
  margin: 2em 1em 0;
  border-radius: 10px;
}
/* .p-box-big {
  display: flex;
} */
.p-box-1 h1 {
  color: black;
  font-family: "Glorify";
  text-align: center;
  font-size: 5em;
  padding: 1em 0 0 0em;
}
.p-box-big {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
}

.p-box-2 h2,
.p-box-3 h2 {
  font-family: "Josefin Sans";
  font-size: 25px;
  margin: 0 0 0.5em !important;
}
.p-box-2 table {
  font-size: 13px;
  font-family: "Source Code Pro", monospace;
}
.p-box-2 table tr th {
  font-weight: 700;
}
.p-box-2 table tr td {
  padding: 0.5em 0;
}
.p-box-2-part {
  display: flex;
  justify-content: center;
}
.p-box-2-part img {
  text-align: center;
  width: 170px;
}

.p-box-3-part li {
  font-size: 15px;
  padding: 0.4em 0;
  text-decoration: underline;
}
.p-box-3-part ul {
  padding-left: 0 !important;
}
.p-box-3-part-2 {
  margin: 1em 0 0 2em;
}
.p-box-3-part-2 h2 {
  margin-top: 1.6em !important;
  font-size: 27px !important;
}
.p-box-3-part-2 p {
  margin-bottom: 1.2em !important;
  text-align: justify;
  font-size: 19px;
  line-height: 1.5em;
  font-family: "Source Code Pro", monospace;
}

@media screen and (max-width: 768px) {
  .p-box-1 h1 {
    font-size: 4.5em;
    padding: 0.6em 0 0 0;
    margin: 0 0 0.4em;
  }

  .p-box-big {
    grid-template-columns: 1fr;
  }
  .p-box-2 {
    order: 1;
  }
  .p-box-3 {
    order: -1;
  }

  .p-box-2-part img {
    width: 120px;
  }
  .p-box-2 table {
    width: 100%;
  }
  .p-box-3-part-2 {
    margin: 1em 0 0 1em;
  }
}
@media screen and (max-width: 425px) {
  .p-box-1 h1 {
    font-size: 4em;
  }

  .p-box-2-part img {
    width: 90px;
  }

  .p-box {
    margin: 2em 0 0;
  }
  .p-box-2 h2,
  .p-box-2 h2 {
    font-size: 24px !important;
  }
  .p-box-3-part-2 {
    margin: 1em 0 0 0em;
  }
  .p-box-3-part-2 h2 {
    font-size: 25px !important;
  }
  .p-box-3-part-2 p {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 375px) {
  .p-box-1 h1 {
    font-size: 3.5em;
    margin: 0 0 0.3em;
  }
  .p-box-2-part img {
    width: 70px;
  }
  .p-box-3-part-2 h2 {
    font-size: 23px !important;
  }
  .p-box-3-part-2 p {
    font-size: 15px !important;
  }
}
